---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <div class="entry-wrap">
      <div class="entry-content">
        {{ content }}
        <ul>
          {% if site.socials.github %}
            <li>{% include icon-github.html username=site.socials.github label='GitHub' %}</li>
          {% endif %}

          {% if site.socials.trakt %}
            <li>{% include icon-trakt.html username=site.socials.trakt label='Trakt' %}</li>
          {% endif %}

          {% if site.socials.twitter %}
            <li>{% include icon-twitter.html username=site.socials.twitter label='Twitter' %}</li>
          {% endif %}

          {% if site.socials.youtube %}
            <li>{% include icon-youtube.html username=site.socials.youtube label='YouTube' %}</li>
          {% endif %}
        </ul>
      </div>
      <aside class="entry-sidebar">
        {% include author %}
        {% if author_picture %}
          <img class="author-picture" src="{{ author_picture }}" alt="{{ author_name }}">
        {% endif %}
      </aside>
    </div>
  </div>
</main>